body{
	background: #f1f4f9;
}
header{

	height: 60px;
	background: #4381e6;
}
header h2{
	display: inline;
	font-family: "方正综艺简体";
	font-size: 18px;
	color: #fff;
	
}

.logo{
	margin-left: 40px;
	line-height: 60px;
}
.logo img{
	width: 36px;
	height: 36px;
	margin-right: 14px;
}
.identify{
	margin-right: 15px;
	line-height: 60px;
}
.user{
	margin:16px 8px 16px 0;
	width:28px;
	height: 28px;
	border-radius: 50%;
	background: url(../img/identify.png) center center  no-repeat;
	background-size: 200%;
	/*background-size: 200%;*/
}
.identify h3{
	font-family: "PingFang Bold";
	margin-right: 10px;
	display: inline;
	font-size: 14px;
	color: #fff;
}
.identify i{
	color: #fff;
}


/*header  end*/


/*aside   start*/

aside{
	background: #fff;
	width: 180px;
	height: 768px;
	box-shadow: 0 4px 12px 2px #e7eaef;
}
aside ul li{
	height: 40px;
	border-bottom: 1px solid #f4f4f4;
	line-height: 40px;
	text-align: center;
}
aside ul li a{
	font-family: "PingFang Bold";
	font-size: 14px;
	/*opacity: 0.4;*/
	color: #000;
}
aside ul li.active{
	background: #ecf2fc;
	color: #6e9aea;
	border-right:2px solid #4381e6;
}
aside ul li.active a{
	color: #6e9aea;
}


/*aside   end*/
