body{
	background: #0a296a url(../img/矩形1.png) no-repeat;
	
}
.pic{
	position: absolute;
	right: 0;
	top: 0;
}
main{
	position: relative;
	top: 130px;
	left: 304px;
}
.WYF_header_left{
	width: 400px;
	height: 510px;
	background:url(../img/400067713.png) center center;
	background-size: cover;
	
}
.WYF_header_info{
	border-radius: 4px;
	position: absolute;
	top: 58px;
	left: 48px;
	color: #fff;
	text-align: left;
}
.WYF_header_info span{
	font-size: 18px;
}
.WYF_header_info h2{
	margin-top: 10px;
	font-size: 30px;
}
.WYF_header_info i{
	display: inline-block;
	width: 6px;
	height: 6px;
	margin-right: 6px;
	border-radius: 50%;
	background: #fff;
}
.WYF_header_info i.sec{
	background: #c3cbe1;
}
.WYF_header_info i.thr{
	background: #9ba9cd;
}
.WYF_header_shade{
	border-radius: 4px;
	position: absolute;
	width: 400px;
	height: 510px;
	top: 0;
	left: 0;
	background: rgba(103,135,255,0.6);
}
.WYF_header_right{
	position: absolute;
	top: 15px;
	left: 400px;
	width: 362px;
	height: 480px;
	background: #fff;
	border-radius: 4px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

label{
	display: block;
}
.logo{
	margin:28px auto 0;
	width: 84px;
	height: 84px;
	border-radius: 50%;
	box-shadow: 1px 1px 12px 1px #e8e9eb;
}
.logo img{
	width: 56px;
	height: 56px;
	margin-top: 16px;
	margin-left: 16px;
}

.formgroup{
	margin:30px auto 0 ;
	width: 260px;
	height: auto;
}
.formgroup label{
	padding-top: 16px;
	position: relative;
	padding-left: 42px;
	text-align:left;
	height: 40px;
	border-bottom: 1px solid #b4cdf5;
}
.formgroup label img{
	position: absolute;
	top:16px;
	left: 0;
}
.formgroup label.pwd{
	margin-bottom: 40px;
}

.formgroup .register{
	background:#fff;
	box-shadow: none;
	border: 1px solid #b4cdf5;
	color: #7ba7ed;
	margin-bottom: 78px;
}
.submit{
	cursor: pointer;
	width: 100%;
	padding: 10px 0;
	border-radius: 4px;
	background: linear-gradient(to right,#4285e7,#32bdfa);
	color: #fff;
	box-shadow: 1px 3px 12px 1px #b2e6fd;
	margin-bottom: 16px;
}
.back{
	text-align: center;
	
}
.back a{
	cursor: pointer;
	font-size: 14px;
	color: #4381e6;
}
